*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;	 }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
@font-face {
	font-family: 'Bernadette';
	src: url('../fonts/bernadette.eot');
	src: local('☺'), url('../fonts/bernadette.woff') format('woff'), url('../fonts/bernadette.ttf') format('truetype'), url('../fonts/bernadette.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: '"MyriadPro-BlackCond"';
	src: url('../fonts/Myriad_Pro_Black_Cond_Bold.eot');
	src: local('☺'), url('../fonts/Myriad_Pro_Black_Cond_Bold.woff') format('woff'), url('../fonts/Myriad_Pro_Black_Cond_Bold.ttf') format('truetype'), url('../fonts/Myriad_Pro_Black_Cond_Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body,html{



}


.ibg{
	background-repeat: no-repeat;
	background-size: 100% 100% ;
	
	img{display: none;}
	
}


.wrapper {
}
.header {

position: absolute;
top: 25px;
width: 100%;
	&__container {
		max-width: 1502px;
		margin: 0 auto;
		padding: 0 10px;
	}

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	&__logo {
		display: block;
		&::after{
			content: '';
			display: inline-block;
			width: 14px;
			height: 14px;
			border-radius: 50%;
			position: relative;
			margin: 32px 0 0 0;
			background-color: #fba419;
		}
	}

	&__burger {
	}

	&__menu {
		position: relative;
		top: -21px;
	}

	&__list {
		display: flex;
		
		li{
			margin: 0 25px 0 0;
			&:last-child{
				margin:0;
			}
		}
	}

	&__link {
		color: #ffffff;
		font-family: Lato;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.24px;
	}
	@media (max-width:980px){
		body.lock{
			overflow: hidden;
		}

		
		.header__body{
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;

		}
		&__logo{

		}

		.header__burger{
			display: block;
			position: relative;
			left: 30%;
			top: -13%;
			width: 30px;
			height:20px;
			position: relative;
			z-index: 3;
			span{
				position: absolute;
				background-color: white;
				left:0;
				width: 100%;
				height: 2px;
				top: 9px;
				transition: all 0.3s ease 0s;

			}
		}
		.header__burger:before,
		.header__burger:after{
			content: '';
			background-color: white;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.3s ease 0s;
		}
		.header__burger:before{
			top: 0;
		}
		.header__burger:after{
			bottom: 0;
		}
		.header__burger.active{
			span{
				transform: scale(0);
			}
		}
		.header__burger.active:before{
			transform: rotate(45deg);
			top: 9px;
			
		}
		.header__burger.active:after{
			transform: rotate(-45deg);
			bottom: 9px;
		}
		.header__menu{
			position: fixed;
			top:-100%;
			left:0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
			padding: 70px 10px 20px 10px;
			transition: 1s ease 0s;
			overflow: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			&.active{
				top: 0;
			}
		}
		&__list{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 10px 0 0 0;
			li{
				padding: 0 0 20px 0;
				margin: 0;
			}
			
		}
		&__link {
			font-size: 22px;
			margin: 0 0 0px 0;
		}

		padding: 20px 0 0 0;
	
	}
	@media (max-width:510px){
		.header__burger{
			left: 20%;
		}
	}
}
.banner {
background: url(../img/Banner_Main_Image.png) 0 0/100% 100% no-repeat;
padding: 13.5% 0 15.5% 0;

	&__body {
		text-align: center;
		padding: 0 10px;
	}

	&__title {
		color: #ffffff;
		font-family: Bernadette;
		font-size: 111px;
		font-weight: 400;
		letter-spacing: -1.05px;
		margin-bottom: 30px;
	}

	&__subtitle {

		color: #ffffff;
		font-family: Lato;
		font-size: 37px;
		font-weight: 700;
		/* Text style for "Reasons fo" */
		letter-spacing: 0.61px;
		margin-bottom: 35px;
	}

	&__text {
		color: #ffffff;
		font-family: Lato;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		max-width: 639px;
		margin: 0 auto 42px auto;
	}

	&__btm {
		color: #020202;
		font-family: Lato;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		/* Text style for "Read more" */
		letter-spacing: 0.32px;
		box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
		background-color: #ffffff;
		padding: 13px 25px;
		border-radius: 40px;
	}

	@media (max-width:767px){
		background: url(../img/Banner_Main_Image.png) center no-repeat;
		padding: 103px 0 110px 0;
		&__title {
			font-size: 80px;
			margin-bottom: 20px;
		}
		&__subtitle {
			font-size: 30px;
			margin-bottom: 25px;
		}
		&__text {
			margin: 0 auto 32px auto;
		}
	}
	@media (max-width:530px){
		&__title {
			font-size: 60px;
			margin-bottom: 15px;
		}
		&__subtitle {
			font-size: 26px;
			margin-bottom: 15px;
		}
		&__text {
			margin: 0 auto 25px auto;
		}
	}
}
.container {
	max-width: 1190px;
	margin: 0 auto;
	padding: 0 10px;
}
.features {
margin: -10.5% 0 00px 0;

	&__container {
		max-width: 1244px;
		margin: 0 auto;
		padding: 0 10px;
	}

	&__row {
		display: flex;
	}

	&__column {
		flex: 0 1 33.333%;
	}
	@media (max-width:767px){
		&__row {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&__column {
			max-width: 372px;

		}
	}
}

.column {
margin: 0 27px 0 0;
box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
&:last-child{
	margin: 0;
}
	&__img {
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			max-width: 100%;
		}
	}

	&__title {
		color: #333332;
		font-family: Lato;
		font-size: 25px;
		font-weight: 700;
		/* Text style for "Best Track" */
		letter-spacing: 0.61px;
		text-align: center;
		margin-bottom: 29px;
	}

	&__text {
		color: #040404;
		font-family: Lato;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		max-width: 240px;
		margin: 0 auto;
	}

	&__btm {
		color: #ffffff;
		font-family: Lato;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.32px;
		background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
		padding: 13px 23px;
		border-radius: 50px;
		position: relative;
		display: inline-block;
		left: 50%;
		transform: translate(-50%,50%);
	}

	&__body {
	
		
		padding: 27px 0 0 0;
		
	}
	@media (max-width:767px){
		margin: 0 0 50px 0;
	}
}
.about {
padding: 100px 0 0 0;
margin: 0 0 00px 0;

	&__container {
		max-width: 1270px;
		margin: 0 auto;
		padding: 0 10px;
	}

	&__row {
		display: flex;
	}

	&__block {
		flex: 0 1 33.333%;
		margin: 0 -40px 0 0;
	}

	&__title {
		margin-bottom: 28px;
		&_2{
			padding: 0 0 0 46px;
		}
	}

	&__text {
		margin-bottom: 45px;
		&_1 {
			font-weight: 400;
		}

		&_2 {
			font-weight: 300;
		}
	}

	&__btm {
		color: #ffffff;
		font-family: Lato;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.32px;
		background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
		padding: 13px 23px;
		border-radius: 50px;
		position: relative;
		display: inline-block;
	}

	&__img {
		flex: 0 1 33.333%;
		img{
	
			object-fit: cover;
			
			
		}
	}

	&__item {
		flex: 0 1 33.333%;
		margin: 0 0 0 -40px;
	}
	@media (max-width:1165px){
	&__row {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__block {
		margin: 0 0 30px 0;
	}
	&__title {
		margin: 0;
	}
	&__item {
		margin: 0;
	}
	&__img {
		margin: 0 0 30px;
		img{
	
			object-fit: cover;
		max-width: 100%;	
			
		}
	}
	}
	@media (max-width:500px){
		&__title {
			font-size: 35px;
		}
		.title {
			font-size: 45px;
		}
	}
}
.container {
}
.title {
	color: #333332;
	font-family: Bernadette;
	font-size: 50px;
	font-weight: 400;
	letter-spacing: -1.58px;
}
.text{

	color: #040404;
	font-family: Lato;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}
.feature {
padding: 100px 0 74px 0;
	&__container {
		max-width: 1218px;
		margin: 0 auto;
		padding: 0 10px;
		position: relative;
	}

	&__item {
	}

	&__row {
		display: flex;
		margin-bottom: 23px;
		&:last-child{
			margin: 0;
		}
	}

	&__img {
		flex: 0 1 50%;
		margin: 0 28px 0 0;
		&:last-child{
			margin: 0;
		}
		img{

			height: 100%;
			width: 100%;

			object-fit: cover;
			max-width: 100%;
		}
	}

	&__body {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%,0);
		width: 100%;
		max-width: 727px;
		box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
		border-radius: 10px;
		background-color: #ffffff;
		padding: 33px 0;
		text-align: center;
	}

	&__title {
		text-align: center;
		margin-bottom: 20px;
	}

	&__text {
		text-align: center;
		max-width: 650px;
		margin: 0 auto;
		margin-bottom: 35px;
	}

	&__btm {
		color: #ffffff;
		font-family: Lato;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.32px;
		background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
		padding: 13px 23px;
		border-radius: 50px;
		position: relative;
		display: inline-block;
	}
	@media (max-width:1000px){
		padding: 60px 0 40px 0;
		&__body {
			max-width: 600px;
			top: 23%;
		}
		&__text {
			max-width: 500px;
		}
	}
	@media (max-width:900px){
		&__row {
			flex-direction: column;
			margin: 0;
			justify-content: center;
			align-items: center;
		}
		&__img {
			flex: 0 1 auto;
			max-height: 300px;
			margin: 0 0 20px 0;
			overflow: hidden;
			&:last-child{
				margin: 0 0 20px 0;
			}
			img{
				width: auto;
				height: auto;
			}
		}
		&__body {
			position: relative;
		}
	}
}
.title {
}
.text {
}
.services {
display: flex;
background-color: #f4f4f4;
position: relative;
justify-content: space-between;

max-width: 1600px;
margin: 0 auto;
	&__body {
		padding: 86px 0 90px 13.9%;
	}

	&__title {
		margin-bottom: 40px;
	}

	&__text {
		color: #040404;
		font-family: Lato;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		max-width: 486px;
		margin-bottom: 40px;
		&_1 {
			font-weight: 400;
		}

		&_2 {
			font-weight: 300;
		}
	}

	&__btm {
		color: #ffffff;
		font-family: Lato;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.32px;
		background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
		padding: 13px 23px;
		border-radius: 50px;
		position: relative;
		display: inline-block;
	}

	&__item {
		position: absolute;
		top: 90px;
		right: 482px;
		z-index: 2;
		padding: 28px 0 29px 0;
		box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
		border-radius: 10px;
		background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
		padding: 28px 23px;
	}

	&__row {
		display: flex;
		border-bottom: 2px dotted rgba(255, 255, 255,0.29);
		&:last-child{
			border-bottom: none;
		}
	}

	&__block {
		padding:15px 0px 0px 0 ;
		
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 150px;
		border-right: 2px dotted rgba(255, 255, 255,0.29);
		&:last-child{
			border-right: none;
		}
	}

	&__icon {
	}

	&__subtitle {
		color: #ffffff;
		font-size: 17px;
		font-weight: 400;
		/* Text style for "L, ogo & ," */
		letter-spacing: 0.42px;
		text-align: center;
	}

	&__img {
		position: relative;
		
		img{
			
			height: 100%;
			width: 100%;

			object-fit: cover;
			max-width: 100%;
		}
	}
	@media (max-width:1520px){
		&__body {
			padding: 86px 0 90px 10%;
		}
	}
	@media (max-width:1460px){
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 10px;
		&__item {
			position: relative;
			top: 0;
			left: 0;
			display: inline-block;
			max-width: 355px;
			margin: 0 auto 30px auto;
		}
		&__row {
			
		}
		&__body {
			padding: 65px 0 70px 0;
		}
	}
	@media (max-width:767px){
		&__title {
			padding: 0 0 0 10px;
			margin: 0 0 20px 0;
		}
		&__body {
			padding: 40px 0 45px 0;
		}
	}
	@media (max-width:400px){
		&__item {
			max-width: 300px;
		}
	}
}
.team {
padding: 100px 0 64px 0;
	&__title {
		text-align: center;
		margin-bottom: 40px;
	}

	&__text {
		color: #313131;
		font-family: Lato;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		letter-spacing: 0.45px;
		padding: 0 23px;
		margin-bottom: 60px;
	}

	&__row {
		display: flex;
	}

	&__row2 {
		display: flex;
		&_B {
			flex: 0 1 60%;
		}

		&_S {
			flex: 0 1 40%;
		}
	}

	&__column {
	
		&_S{
			flex: 0 1 50%;
		}
		&_B{
			flex: 0 1 33.333%;
		}
	}
	@media (max-width:1000px){
		&__row {
			flex-direction: column;

		}
		padding: 70px 0 0 0;
	}
	@media (max-width:767px){
		&__row2 {
			flex-direction: column;
		}	
		padding: 50px 0 40px 0;
	}
}

.column-team {
margin: 0 19px 0 0;
width: 100%;
padding: 0 10px;
	&__img {
		img{
			width: 100%;
			display: block;
			
			object-fit: cover;
			max-width: 100%;
		}
		margin: 0 0 46px 0;
	}

	&__title {
		color: #333332;
		font-family: Lato;
		font-size: 25px;
		font-weight: 700;
		/* Text style for "Jeff Norto" */
		letter-spacing: 0.61px;
		margin-bottom: 11px;
		text-align: center;
	}

	&__text {
		text-align: center;
		color: #a3a3a3;
		font-family: Lato;
		font-size: 20px;
		font-weight: 300;
		line-height: 30px;
		/* Text style for "Graphic De" */
		letter-spacing: 0.5px;
	}
	@media (max-width:1000px){
		max-width: 310px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	@media (max-width:820px){
		max-width: 266px;
	}
	@media (max-width:767px){

	}
}
.remember {
display: flex;
justify-content: space-between;
max-width: 1600px;
margin: 0 auto;
padding: 0 0 100px 0;
	&__body {
		margin: 0 0 0 13.9%;
		padding: 47px 0 0 0;
		max-width: 482px;
	}

	&__title {
		margin-bottom: 16px;
	}

	&__subtitle {
		color: #505050;
		font-family: Lato;
		font-size: 22px;
		font-weight: 700;
		line-height: 33.29px;
		/* Text style for "Graphic De" */
		letter-spacing: 0.5px;
		margin-bottom: 32px;
	}

	&__text {
		color: #040404;
		font-family: Lato;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		/* Text style for "U, t enim" */
		letter-spacing: 0.45px;
		margin-bottom: 70px;
	}

	&__block {
	}

	&__item {

	}
	@media (max-width:1480px){
		&__body {
			margin: 0 20px 0 8.9%;
		}
	}
	@media (max-width:1250px){
		padding: 0 0 80px 0;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 10px 80px 10px;
		&__body {
			margin: 0 0 30px 0;

		}
	}
	@media (max-width:767px){
		padding: 0 10px 50px 10px;
		&__title {
			text-align: center;
		}
		&__subtitle {
			text-align: center;
			margin-bottom: 20px;
		}
	}
}

.block-remember {
max-width: 482px;
margin-bottom: 45px;
&:last-child{
	margin: 0;
}
	&__title {
		color: #333332;
		font-family: Lato;
		font-size: 25px;
		font-weight: 500;
		/* Text style for "Creativity" */
		letter-spacing: 0.61px;

	}

	&__body {
		display: flex;
		justify-content: space-between;
	}

	&__line {
		height: 14px;
		width: 80%;
		margin: 10px 0 0 0;
		box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
		border-radius: 7px;
		background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
	}

	&__percent {
		color: #333332;
		font-family: Lato;
		font-size: 25px;
		font-weight: 900;
		/* Text style for "80%" */
		letter-spacing: 0.61px;
	}
	&__subline {
		/* Style for "Rounded Re" */
		width: 100%;
		height: 14px;
		border-radius: 7px;
		background-color: #e0e0e0;
	}

}
.item-remember {
height: 100%;

	&__row {
		display: flex;
	}

	&__img {
		flex: 0 1 50%;
		img{
			height: 100%;
			max-width: 100%;
			object-fit: cover;
		}
	}

	&__block {
		flex: 0 1 50%;
		box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
		background-color: #b19c93;
		background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding:63px 0   ;
		
	}

	&__body {
		max-width: 351px;
		margin: 0 auto;
		padding: 0px 49px 0 49px;
	}

	&__title {
		color: #ffffff;
		font-family: Lato;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;

	}

	&__subtitle {
		color: #ffffff;
		font-family: Lato;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
	}

	&__services {
		padding: 0 0 0px 49px;
		display: flex;
		
	}

	&__icon {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #ffffff;
		box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);	
		margin-right: 20px;
	}
	@media (max-width:1480px){
		&__img {
			img{width: 100%;}
		}
	}

	@media (max-width:767px){
		&__icon {
			width: 43px;
			height: 43px;
			img{
				max-width: 100%;
				object-fit: cover;
			}
		}
	}
	@media (max-width:500px){
		&__row {
			flex-direction: column;
		}
		&__img {
			max-height: 500px;
		}
	}
}

.price {

	&__row {
		display: flex;
	}

	&__block {
		flex: 0 1 33.333%;
	}

	&__item {
		flex: 0 1 66.667%;
	}
	@media (max-width:1100px){
		&__block {
			flex: 0 1 50%;
		}
	
		&__item {
			flex: 0 1 50%;
		}
	}
	@media (max-width:901px){
		&__row {
			flex-direction: column;

		}
	}
}
.block-price {
box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
background-color: #b19c93;
background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
display: flex;
justify-content: flex-end;
padding: 94px 0 94px 10px;
	&__body {
		max-width: 381px;
		box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
		background-color: #ffffff;
		padding: 59px 52px 85px 34px;
	}

	&__title {
		color: #333332;
		font-family: Bernadette;
		font-size: 50px;
		letter-spacing: -1.58px;
		text-align: center;
		margin-bottom: 7px;
	}

	&__subtitle {
		color: #333332;
		font-family: Lato;
		font-size: 20px;
		font-weight: 700;
		line-height: 30px;
		/* Text style for "Website De" */
		letter-spacing: 0.5px;
		text-align: center;
	}

	&__price {
		text-align: center;
		margin-bottom: 30px;
		img{
			max-width: 100%;
			object-fit: cover;
		}
	}

	&__subsubtitle {
		color: #333332;
		font-family: Lato;
		font-size: 25px;
		font-weight: 700;
		/* Text style for "Overview" */
		letter-spacing: 0.61px;
		text-align: center;
		margin-bottom: 23px;
	}

	&__text {
		
		color: #040404;
		font-family: Lato;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		letter-spacing: 0.45px;
		text-align: center;
		max-width: 300px;

	}
	@media (max-width:1100px){
		max-height: 648px;
		
		padding: 94px 0 0 10px;
		&__body {
			max-height: 554px;
		}
	}
	@media (max-width:901px){
		justify-content: center;
		align-items: center;
		padding: 30px 10px 0 10px;
		&__body {
			padding: 40px 35px 60px 20px;
		}
	}

}
.item-price {
display: flex;
padding: 94px 10px 94px 0 ;

background-color: #f4f4f4;
	&__body {
		max-width: 420px;
		box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
		background-color: #b19c93;
		background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
		padding: 90px 77px 39px 62px;
		margin: 0 7.3% 0 0;
	}

	&__block {
		max-width: 481px;
		padding: 51px 0 0 0;
	}

	&__title {
		margin-bottom: 41px;
	}

	&__text {
		color: #040404;
		font-family: Lato;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		letter-spacing: 0.45px;

		&_1 {
			font-weight: 700;
			margin-bottom: 40px;
		}

		&_2 {
			font-weight: 300;
		}
	}
	@media (max-width:1100px){
		flex-direction: column;
	}
	@media (max-width:901px){
		justify-content: center;
		align-items: center;
		padding: 0 10px 50px 10px;
		&__text {
			&_1 {
				margin-bottom: 30px;
			}
		}
		&__body {
			margin: 0;
			padding: 60px 50px 39px 40px;
		}
		&__title {
			margin-bottom: 25px;
		}
	}
	@media (max-width:400px){
		&__title {
			margin-bottom: 15px;
			br{
				display: none;
			}
		}	
		&__text {
			&_1 {
				margin-bottom: 15px;
			}
		}
		&__body {
			padding: 60px 40px 39px 30px;
		}
	}

}
.item-price-body {

	&__title {
		color: #ffffff;
		font-weight: 700;
		font-size: 72px;
		letter-spacing: -0.83px;
		text-align: center;
		margin-bottom: 16px;
	}

	&__subtitle {
		color: #ffffff;
		font-family: Lato;
		font-size: 25px;
		font-weight: 700;
		/* Text style for "Feature" */
		letter-spacing: 0.61px;
		margin-bottom: 32px;
		text-align: center;
	}

	&__list {
		margin-bottom: 76px;
	}

	&__text {
		color: #ffffff;
		font-family: Lato;
		font-size: 16px;
		font-weight: 700;
		/* Text style for "L, orem ip" */
		letter-spacing: 0.4px;
		margin-bottom: 17px;
		
		&::before{
			content: '';
			display: inline-block;
			width: 15px;
			height: 15px;
			background: url(../img/galochka.png) 0 0 no-repeat;
			margin: 0 10px 0 0;
		}
	}

	&__btm {
		color: #020202;
		font-family: Lato;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.32px;
		box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
		background-color: #ffffff;
		padding: 14px 24px;
		border-radius: 40px;
		margin: 0 0 0 22px;
	}
	@media (max-width:901px){
		
	}
	@media (max-width:400px){
		&__title {
			font-size: 50px;
		}
		&__text {
			white-space: nowrap;
		}
	}
}
.title {
}
.get {
background: url(../img/get__bg.png) 0 0/cover no-repeat;
padding: 90px 0;
	&__container {
		max-width: 926px;
		margin: 0 auto;
		padding: 0 10px;
	}
	&__title {
		color: #ffffff;
		font-family: Bernadette;
		font-size: 50px;
		font-weight: 400;
		/* Text style for "G, et in T" */
		letter-spacing: -1.58px;
		text-align: center;
		margin-bottom: 50px;
	}

	&__row {
		display: flex;
	}

	&__row2 {
		display: flex;
		flex: 0 1 50%;
		margin-right: 50px;
		&:last-child{
			margin: 0;
		}
	}

	&__item {
		flex: 0 1 33.333%;
		display: flex;
		width: 82px;
		height: 82px;
		border: 3px solid #ffffff;
		border-radius: 50%;
		justify-content: center;
		align-items: center;
		margin-right: 50px;
		&:last-child{
			margin: 0;
		}
	}
	@media (max-width:780px){
		padding: 60px 0;
		&__title {
			margin-bottom: 40px;
		}
		&__row {
			flex-direction: column;
		}
		&__row2 {
			justify-content: center;
			align-items: center;
			margin: 0 0 20px 0;
		}
		&__item {
			flex: 0 1 auto;
		}
	}
	@media (max-width:400px){
		padding: 30px 0;
		&__title {
			margin-bottom: 20px;
		}
		&__row2 {
			flex-direction: column;
			margin: 0;
		}
		&__item {
			margin: 0 0 20px 0;
			&:last-child{
				margin: 0 0 20px 0;
			}
		}
	}
}
.footer {
padding: 60px 0;
	&__container {
		max-width: 1043px;
		margin: 0 auto;
		padding: 0 10px;
	}

	&__row {
		display: flex;
		
	}

	&__item {
		flex: 0 1 33.333%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		margin: 0 28px 0 0;
	}

	&__body {
	}

	&__title {
		color: #494949;
		font-family: Lato;
		font-size: 17px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
		/* Text style for "C, all Us" */
		letter-spacing: 0.42px;
		margin: 0 0 5px 0;
	}

	&__text {
		max-width: 210px;
		color: #494949;
		font-family: Lato;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		/* Text style for "1, 23, Mai" */
		letter-spacing: 0.4px;
	}
	@media (max-width:840px){
		padding: 30px 0;
		&__row {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&__item {
			width: 290px;
			justify-content: flex-start;
			align-items: flex-start;
			margin-bottom: 30px;
		}
		
	}
	@media (max-width:400px){
		&__item {
			width: 270px;
		}
	}
}
